#Box1
{
	height: 150px;
	width: 600px;
	background-color: #640064;
	
}

#Box2
{
	height: 150px;
	width: 600px;
	background-color: #6400C8;
	
}

#Box3
{
	height: 150px;
	width: 600px;
	background-color: #960096;
	
}

#Box4
{
	height: 150px;
	width: 600px;
	background-color: #640096;
	
}

#Box5
{
	height: 150px;
	width: 600px;
	background-color: #490064;
	
}

#Box6
{
	height: 150px;
	width: 600px;
	background-color: #7C3396;
	
}